#root{
    height: 1000px;
    width: 100%;
}
.container{
    width: 100%;
    height: 60%;
    margin: 0 auto;
    background: #A81D36;
}

.logo-container{
    align-self: start;
}

.display{
    margin: 0 auto;
    width: 100%;
    height: 110px;
    background: #313334;
    color: white;
    border-radius: 50px;
    margin: 2% 0%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calculatorValue{
    font-size: 4rem;
    width: 10%;
}

.App{
    display: grid;
    width: 100%;
    height: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

button{
    border-radius: 50px;
    width: 80px;
    height: 80px;
    margin: 5px 5px;
    color: white;
    border: 1px outset black;
    box-shadow: 0px 3px black;
    font-size: 3rem;
}

.number[value="0"]{
    width: 62%;
}

.number{
    background: #174379;
}

.operator{
    background:#227293;
}

.special{
    background: #215C9E;
}